#logo {
  font-size: 50px;
  font-family: "Contrail One";
}

.nav-link {
  font-size: 20px;
  font-family: "Open Sans";
}

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/johnBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#splash {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/johnBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#bio {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/johnBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}

#media {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/johnBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}
#thoughts {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/johnBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}

#connect {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/johnBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}
.well {
  color: white;
  font-family: "Open Sans";
}

#footer {
  background-color: #101010;
}

#footer .btn {
  color: #c8c8c8;
}

p {
  color: white;
  padding: 5px;
  text-align: justify;
  font-family: "Open Sans";
}

.lead {
  color: white;
  padding: 5px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: "Contrail One";
}

hr {
  color: white;
  background-color: white;
  width: 66%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#headshot {
  border-radius: 25px;
  padding: 20px;
}

.spacer {
  min-height: 75px;
}

#postlink {
  color: #c8c8c8;
}
